@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bella's Person Libary & Recomendations</h1>
    <p>Take my personality quiz and see which book fits you better. You take some questions and I'll match you with a book that I have read along with a description of the book with a rating!</p>
    <p>Also don't forget to look at Zoe's top comic picks of the month!</p>
    <img src="~/images/bookshelf.jpg" alt="Bookshelf" style="max-width:100%; height:auto;" />
    
    
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to Virtual Pet Adoption</h1>
    <p>Find your perfect virtual pet companion!</p>
    
    <div class="mt-4">
        <a asp-page="./Quiz" class="btn btn-primary btn-lg">Take the Matching Quiz</a>
    </div>
</div>